* jokes/static/styles.css */

body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 16px;
    text-align: center;
    color: white;
}

main {
    margin: 32px;
}

h2 {
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

form button {
    background-color: #333;
    color: white;
    border: none;
}
